extends layout

block content

  include navbar
  #studentContainer(style="position:relative")
    table.table.table-bordered
      thead
        tr
          th(style='width:40px') Name
          th(style='width:100px') Teacher
          - for(var i =0;i<assignments.length;i++)
          th=assignments[i]
      tbody
      - for(var i =0; i<students.length;i++)
        tr
          td=students[i].username
          td=students[i].teacher
          -for(var j = 1; j<students[i].assignments.length;j+2)
          td
            input(type='text', value=0, class='dial'+i)
            script(type='text/javascript').
              $(function(){
                console.log("HERE");
                $(".dial#{i}").knob({
                  'min':0,
                  'max':100,
                  'readOnly':true, 
                  'width':50, 
                  'height':50
                  });
              });
          td=students[i].assignments[j]

block scripts
